.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fc00ff;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
}